.du-convenio-block{
  border: 4px solid #60E0FF;
  background: #edf7ff;
  margin-top: -20px;
  display: none;
}

.du-convenio-block.active{
  display: block;
}

.du-convenio-block__container{
   padding-block: 60px;
   padding-inline: 20px;
  max-width: var(--du-max-width);
  margin: 0 auto;
}
.du-convenio-block__header{
  text-align: center;
  line-height: 2rem;
}
.du-convenio-block__title{}
.du-convenio-block__title span{}
.du-convenio-block__info{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.du-convenio-block__description{}
.du-convenio-block__subtitle{
  font-weight: 600;
  color: var(--du-color-primary);
  margin-block: 15px;
}
.du-convenio-block__tags{
      display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.du-convenio-block__tag{
  border-radius: 4px;
    background: white;
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: 350px;
    align-items: center;
}





.du-agreements[data-active="true"] .swiper-slide-active {
    border-bottom: 5px solid #60e0ff;
}

.du-agreements[data-active="true"] .swiper-slide-active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #60e0ff;
}

@media (max-width: 992px) {
  .du-convenio-block__container{
    padding-block: 40px;
    padding-inline: 15px;
  }
}

.du-modal {
  display:none;
}

.du-modal.active {
  display:block;
}

.du-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .25s ease;
}

.du-modal.active {
  opacity: 1;
  visibility: visible;
}

.du-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.55);
}

.du-modal__container {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 1100px;
  margin: 60px auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  transform: translateY(20px);
  transition: all .25s ease;
}

.du-modal.active .du-modal__container {
  transform: translateY(0);
}

.du-modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  background: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 3;
}

.du-modal-open {
  overflow: hidden;
}
