/* --- HERO STYLES --- */
.du-hero {
  width: 100%;
  position: relative;
}
.du-hero__container {
  position: relative;
    z-index: 1;
    color: #fff;
}

.du-hero__wrapper {
  position: relative;
    z-index: 3;
    max-width: 800px;
    color: #fff;
    padding: 50px;
}

.du-hero[data-variation="medium"] .du-hero__wrapper {   max-width: 960px;  }
.du-hero[data-variation="full"] .du-hero__wrapper {   max-width: 100%;  }
.du-hero[data-variation="2x-center"] .du-hero__wrapper {   
  max-width: var(--du-max-width-2x);
  margin: 0 auto;  
}

.du-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.du-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 2;
}

.du-hero__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 25px;
}

.du-hero__title span {
  color: var(--du-color-primary);
}

.du-hero__text {
  list-style: none;
  margin-bottom: 15px;
  max-height: 150px;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Botones */
.du-hero__actions {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}


.du-hero__tags{ 
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  gap: 15px;
  flex-wrap: wrap;
}
.du-hero__tags .tag{
	padding: 6px 12px;
	text-align:center;
	border:1px solid;
	border-radius:8px;
	background-color:transparent;
	color: black;
} 
.du-hero__tags .tag-1{
	border-color: #00BF2991;
	background-color:#00BF291C;
	color: #83FF9E;
}
.du-hero__tags .tag-2{
	border-color: #98D0FFAD;
	background-color:#279CFF70;
	color: white;
}
.du-hero__tags .tag-3{
	border-color: #FFC987CF;
	background-color: #FFCBAB21;
	color: white;
}
.du-hero__tags .tag-4{
	border-color: #0066BD;
	background-color: #D6ECFFAD;
	color: #1C224A;
}


.du-hero__detail{ 
  display: flex;
  align-items: center; 
  padding-block: 20px;
}
.du-hero__detail-icon{     padding-right: 20px; }
.du-hero__detail-icon img{
  width: auto;
  height: 68px;
}
.du-hero__detail-options{
  display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background: #d6ecffad;
    border-radius: 8px;
    max-width: 280px;
    padding: 20px;
}
.du-hero__detail-option {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    color: #1C224A;
    font-weight: 600;
}

.du-hero__detail[data-variation="big"] .du-hero__detail-options{
  max-width: 700px;
  max-height: 100px;
}
.du-hero__detail[data-variation="big"] .du-hero__detail-option {
  flex:auto;
}

@media (max-width: 768px) {
  .du-hero__wrapper {
    padding: 20px;
  }
  .du-hero__content {
    min-height: 280px;
  }
  .du-hero__title {
    font-size: 32px;
  }
  .du-hero__actions {
    flex-direction: column;
  }

  .du-hero__detail {
    position: relative;
    justify-content: center;
  }

  .du-hero__detail-icon {
    position: absolute;
    bottom: 0;
    right: calc(50% - 190px);
  }

  .du-hero__detail-icon img {
    width: 68px;
    height: auto;
  }

  .du-hero__detail-options{
    max-width: 280px !important;
    max-height: initial !important;
  }

}
