/* --- SWIPER HERO STYLES --- */
.du-hero-swiper {
  width: 100%;
  min-height: var(--du-max-width);
  position: relative;
}

.du-hero-swiper__slide {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #000;
}

/* Fondo y Overlay */
.du-hero-swiper__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.du-hero-swiper__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 2;
}

.du-hero-swiper__container {
  position: relative;
  z-index: 3;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
}

.du-hero-swiper__content {
  max-width: 650px;
  min-height: 400px;
    padding-top: 3rem;
}

.du-hero-swiper__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 25px;
}

.du-hero-swiper__title--highlight {
  color: var(--du-color-primary);
}

.du-hero-swiper__list, .du-hero-swiper__text {
  list-style: none;
  margin-bottom: 35px;
  max-height: 150px;
  overflow: hidden;
}

.du-hero-swiper__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  margin-bottom: 12px;
}

.du-hero-swiper__item::before {
  content: "•";
  color: #fff;
  font-size: 24px;
}

/* Botones */
.du-hero-swiper__actions {
  display: flex;
  gap: 20px;
}


/* Paginación Swiper Personalizada */
.du-hero-swiper .swiper-pagination {
  bottom: 30px !important;
  justify-content: flex-start;
  max-width: var(--du-max-width);
    margin: 0 auto;
    position: relative;
}

.du-hero-swiper .swiper-pagination-bullet {
  width: 5px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  opacity: 1 !important;
  transition: width 0.3s ease !important;
}

.du-hero-swiper .swiper-pagination-bullet-active {
  background: #fff !important;
  width: 40px !important;
}

/* Esconder dots si hay uno solo (clase de Swiper) */
.du-hero-swiper .swiper-pagination-lock {
  display: none !important;
}

@media (max-width: 768px) {
  .du-hero-swiper__content{
    min-height: 480px;
  }
  .du-hero-swiper__title {
    font-size: 32px;
  }
  .du-hero-swiper__actions {
    flex-direction: column;
  }
  .du-hero-swiper .swiper-pagination {
    text-align: center !important;
    bottom: 60px !important;
  }
}