.du-testimonials {
  padding-top: 15px;
  background-color: white;
  background-image: url(../img/bg-onda-lg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  font-family: var(--du-font-main);
}
.du-testimonials--left{
  background-position: -294px bottom;
}

.du-testimonials__container {
    max-width: var(--du-max-width);
    margin: 0 auto;
}

.du-testimonials__title {
  text-align: center;
  color: var(--du-color-secondary-dark);
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}

.du-testimonials__title--highlight,  .du-testimonials__title span{
  color: var(--du-color-primary);
}

.du-testimonials__slider-wrapper {
  position: relative;
  max-width: var(--du-max-width);
  margin: 0 auto;
  padding: 0 50px;
  overflow: hidden;
}

.du-testimonials__swiper {
  width: 100%;
  overflow: hidden;
}

.du-testimonials__swiper .swiper-slide {
  box-sizing: border-box;
}

.du-testimonials--left .du-testimonials__container {
  max-width: var(--du-max-width-left);
  margin: 0;
  padding-inline: 50px;
}

.du-testimonials--left .du-testimonials__title {
  text-align: left;
}

.du-testimonials--left .du-testimonials__slider-wrapper, .du-testimonials--left .du-testimonials__slider-wrapper_2 {
  max-width: 820px;
  margin: 0;
  padding: 0 50px 0 0;
}
.du-testimonials--left .du-testimonials__slider-wrapper_1{
  max-width: 100%;
  margin: 0;
  padding: 0 50px 0 0;
}


/* Botón Final */
.du-testimonials__actions {
    text-align: center;
    margin-top: 50px;
    height: 40px;
    position: relative;
}
.du-testimonials__actions  .du-btn {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 120px);
}

.du-btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--du-color-secondary-dark);
  color: white;
  padding: 14px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
}

.du-btn-secondary:hover {
  background-color: var(--du-color-primary);
  transform: translateY(-3px);
}


.du-btn-secondary span {
  color: var(--du-color-primary);
}

.du-testimonials__pagination {
  bottom: -10px !important;
}

/* Responsive Móvil */
@media (max-width: 992px) {
  .du-testimonials {
    padding-top: 30px;
    background-image: url(../img/bg-onda-sm.png);
    background-position: left 150px;
    background-size: cover;
  }

  .du-testimonials__slider-wrapper {
    padding: 0;
  }

  .du-testimonials__next,
  .du-testimonials__prev {
    top: calc(50% - 140px);
  }

  .du-testimonials__next{ right: 0 !important; }
  .du-testimonials__prev { left: 0 !important; }

  .du-testimonials--left .du-testimonials__slider-wrapper, .du-testimonials--left .du-testimonials__slider-wrapper_1, .du-testimonials--left .du-testimonials__slider-wrapper_2 {
    max-width: 100%;
    padding: 0;
  }

  .du-testimonials--left .du-testimonials__container {
    max-width: var(--du-max-width);
    margin: 0 auto;
  }
  .du-testimonials--left .du-testimonials__title {
    text-align: center;
  }
}


@media (min-width: 992px) {
  .du-testimonials__pagination {
    display: none !important;
  }
}

.du-testimonials__slider-wrapper_1, .du-testimonials__slider-wrapper_2{
    position: relative;
    &[class*="swiper-button"]{
      background: #1c224a;
      color: #ffffff !important;
      border-radius: 50%;
      padding: 2rem;
    }
}
