/* HEADER */
.du-header {
  width: 100%;
  background: #fff;
  padding: 15px 5%;
  position: sticky;
  top: 0;
  z-index: var(--du-z-header);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.du-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--du-max-width);
  margin: 0 auto;
}

/* LOGO */
.du-header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.du-header__logo-img {
  width: 127px;
  height: 35px;
}


/* NAV PRINCIPAL */

.du-header__nav {
    flex: 1;
    padding-left: 50px;
    position: relative;
}

.du-header__nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.du-header__nav-item {
  position: relative;
}

.du-header__nav-item:last-child {
  position: absolute;
  right: 0;
}

.du-header__nav-link {
  text-decoration: none;
  color: var(--du-color-text-dark);
  font-size: 14px;
  transition: var(--du-transition);
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.du-header__nav-link--active,
.du-header__nav-link:hover {
  color: var(--du-color-secondary);
}

/* DROPDOWN DESKTOP */
.du-header__nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #E7F4FF;
  min-width: 180px;
  box-shadow: var(--du-shadow-menu);
  display: none;
  padding: 10px 0;
  list-style: none;
  border-radius: 4px;
  padding-inline: 15px;
}

.du-header__nav-dropdown li{
  border-bottom: 1px solid #858585;
}
.du-header__nav-dropdown li:last-child{
  border-bottom: none;
}

.du-header__nav-item:hover .du-header__nav-dropdown {
  display: block;
}

.du-header__nav-dropdown-link {
  padding-block: 10px;
  display: block;
  text-decoration: none;
  color: var(--du-color-text-dark);
  font-size: 14px;
}

.du-header__nav-dropdown-link:hover {
  color: var(--du-color-secondary);
}

/* BOTÓN CAMPUS */
.du-btn-campus {
  background-color: var(--du-color-primary);
  color: var(--du-color-text-black);
  padding: 10px 22px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.du-btn-campus:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(73, 213, 242, 0.3);
    background-color: var(--du-color-primary-02);
}

/* BOTONES OCULTOS EN DESK */
.du-header__nav-close,
.du-header__nav-toggle {
  display: none;
}

/* MOBILE STYLES */
@media (max-width: 992px) {
 
  .du-header__logo {
    z-index: 1000;
  }

  .du-header[data-open="true"] .du-header__logo {
    position: absolute;
    top: 30px;
    left: 40px;
  }

  .du-header__nav-toggle {
    display: block;
  }

  .du-header__nav {
    flex: auto;
    padding-left: 0;
    position: relative;
}

  .du-header__nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    align-items: flex-start; /* Alineación izquierda */
    transition: left 0.4s ease;
    z-index: var(--du-z-nav);
    gap: 20px;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-right: 30px;
    padding-left: 44px;
  }

  .du-header__nav-item:last-child {
  position: relative;
}

  .du-header__nav-list--open {
    left: 0;
  }

  .du-header__nav-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  .du-header__nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: var(--du-z-overlay);
  }

  .du-header__nav-overlay--active {
    display: block;
  }

  .du-header__nav-item {
    width: 100%;
    text-align: left;
  }

  .du-header__nav-dropdown {
    position: static;
    box-shadow: none;
    display: block;
    padding-left: 15px;
    list-style-type: "- ";
    background: transparent;
    padding-bottom: 0;
  }

  .du-header__nav-dropdown li {
    border-bottom: 0;
  }

  .du-btn-campus {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

}
