.du-btn {
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--du-transition);
  outline: none;
  border: none;
  cursor: pointer;
}

.du-btn--primary {
  background-color: var(--du-color-primary);
  color: var(--du-color-text-dark);
}
.du-btn--secundary {
  background-color: var(--du-color-secondary);
  color: white;
}
.du-btn--secundary-dark {
  background-color: var(--du-color-secondary-dark);
  color: white;
}

.du-btn--outline {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.du-btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.du-link-download {
    color: var(--du-color-secondary);
    text-decoration: underline;
    text-underline-offset: 6px;
    font-weight: 700;
    font-size: 14px;
}

.du-link-more{
    color: var(--du-color-secondary);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.du-link-external {
  color: #007be3 !important;
}

.du-btn.full {
  width: 100%;
  display: block;
}

.du-btn.medium {
  width: 50%;
  display: block;
}