.du-seach__content,
.du-filters,
.du-seach__filters,
.du-filter-down {
  position: relative;
  overflow: visible !important;
}

.du-filter-down__header {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.du-filter-down__options {
  display: none !important;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  z-index: 9999;
  background: #fff;
}

.du-filter-down.active .du-filter-down__options {
  display: block !important;
}