.du-seach__content,
.du-filters,
.du-seach__filters {
	position: relative;
	overflow: visible !important;
	z-index: 20;
}

.du-filter-down {
	position: relative;
	overflow: visible !important;
	z-index: 30;
}

.du-filter-down__header {
	position: relative;
	z-index: 31;
	cursor: pointer;
}

.du-filter-down__options {
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	width: 100%;
	z-index: 9999;
	display: none;
	background: #fff;
	pointer-events: auto;
}

.du-filter-down.active .du-filter-down__options {
	display: block;
}