{{ attach_library('derma_theme/global') }}
{{ attach_library('derma_theme/swiper') }}

{% include '@derma_theme/includes/header.html.twig' %}

<main class="du-main">
  {{ page.content }}
</main>
<section class="du-footer-info" data-variation="gray">
  <div class="du-footer-info__text">
    <h2 class="du-footer-info__title">
      ¿Listo para dar el siguiente paso en tu <span>carrera</span> ?
    </h2>
    <p class="du-footer-info__description">
      Únete a más de 5,000 profesionales que han transformado su práctica
      clínica con DermaU. Inscripciones abiertas para el periodo 2026.
    </p>
  </div>
  <div class="du-footer-info__image">
    <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&amp;w=400" alt="Profesional de la salud">
    <a href="#" class="du-footer-info__link">Solicitar Información</a>
  </div>
</section>
{% include '@derma_theme/includes/footer.html.twig' %}
