<header class="du-header">
  <div class="du-header__container">
    {# LOGO #}
    <a href="{{ path('<front>') }}" class="du-header__logo">
      <img
        src="{{ base_path ~ directory }}/assets/img/logo-derma-u.png"
        alt="DermaU"
        class="du-header__logo-img"
      />
    </a>
    {# REGION HEADER (Aquí entra el bloque derma_menu) #}
    {{ page.header }}
    {# BOTÓN MOBILE TOGGLE #}
    <button class="du-header__nav-toggle" id="duMenuToggle">
      <svg
            width="26"
            height="18"
            viewBox="0 0 26 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 1H25M1 9H25M1 17H25"
              stroke="#1C224A"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
    </button>
  </div>
  {# Overlay mobile #}
    <div class="du-header__nav-overlay" id="duNavOverlay"></div>
</header>
