{% set hay_filtros = false %}

{% if exposed %}
	{% if exposed.title['#value'] is not empty %}
		{% set hay_filtros = true %}
	{% endif %}

	{% if exposed.field_universidad_del_programa_target_id_verf['#value'] is defined and exposed.field_universidad_del_programa_target_id_verf['#value'] != 'All' and exposed.field_universidad_del_programa_target_id_verf['#value'] is not empty %}
		{% set hay_filtros = true %}
	{% endif %}

	{% if exposed.field_tipo_de_programa_target_id['#value'] is defined and exposed.field_tipo_de_programa_target_id['#value'] != 'All' and exposed.field_tipo_de_programa_target_id['#value'] is not empty %}
		{% set hay_filtros = true %}
	{% endif %}
{% endif %}

<div class="du-results-count">
	{% if hay_filtros %}
		<p>Mostrando
			{{ view.total_rows }}
			programas</p>
	{% else %}
		<p>Programas Recomendados</p>
	{% endif %}
</div>

<div class="du-programas__grid">
	{% for row in rows %}
		{{ row.content }}
	{% endfor %}
</div>
