{% set hay_filtros = false %}

{% set universidad = view.exposed_raw_input.field_universidad_del_programa_target_id_verf|default('') %}
{% set tipo = view.exposed_raw_input.field_tipo_de_programa_target_id|default('') %}
{% set title = view.exposed_raw_input.title|default('') %}

{% if title|trim != '' %}
  {% set hay_filtros = true %}
{% endif %}

{% if universidad != '' and universidad != 'All' %}
  {% set hay_filtros = true %}
{% endif %}

{% if tipo != '' and tipo != 'All' %}
  {% set hay_filtros = true %}
{% endif %}

<div class="du-results-count">
  {% if hay_filtros %}
    <p>
      Mostrando {{ view.total_rows }} {{ view.total_rows == 1 ? 'programa' : 'programas' }}
    </p>
  {% else %}
    <p>Programas Recomendados</p>
  {% endif %}
</div>

<div class="du-programas__grid">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>
