<section class="du-media-block">
	<div class="du-media-block__container">
		<div class="du-media-block__text-side">
			<h2 class="du-media-block__title">
				<svg width="27" height="23" viewbox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.43659 7.90966V18.5972M1.34084 7.09685C0.563469 6.72447 0.563469 5.71985 1.34084 5.34747C2.36009 4.85922 3.88278 4.16622 6.03659 3.26904C9.02909 2.02254 11.0732 1.28341 12.1707 0.908786C12.7887 0.697071 13.4595 0.697071 14.0775 0.908786C15.1744 1.28341 17.2197 2.02254 20.2116 3.26904C22.366 4.16622 23.8881 4.85922 24.9079 5.34747C25.6842 5.71985 25.6842 6.72447 24.9079 7.09685C23.8881 7.5851 22.3654 8.2781 20.2116 9.17528C17.2191 10.4218 15.175 11.1609 14.0775 11.5355C13.4595 11.7472 12.7887 11.7472 12.1707 11.5355C11.0738 11.1609 9.02853 10.4218 6.03659 9.17528C3.88222 8.27753 2.36009 7.5851 1.34084 7.09685Z" stroke="#51BCD6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M5.86987 9.10498C5.83033 9.86201 5.8112 10.62 5.8125 11.378C5.8125 13.1184 5.90194 14.2114 5.98969 14.8655C6.06675 15.437 6.39412 15.923 6.90487 16.1902C7.89262 16.7077 9.89906 17.4722 13.125 17.4722C16.3509 17.4722 18.3574 16.7083 19.3451 16.1908C19.8559 15.9236 20.1832 15.4376 20.2603 14.8667C20.3481 14.2119 20.4375 13.119 20.4375 11.3792C20.4388 10.6209 20.4197 9.86276 20.3801 9.10554M4.125 20.2847C4.125 20.7322 3.94721 21.1614 3.63074 21.4779C3.31427 21.7944 2.88505 21.9722 2.4375 21.9722C1.98995 21.9722 1.56072 21.7944 1.24426 21.4779C0.92779 21.1614 0.75 20.7322 0.75 20.2847C0.75 19.8371 0.92779 19.4079 1.24426 19.0914C1.56072 18.775 1.98995 18.5972 2.4375 18.5972C2.88505 18.5972 3.31427 18.775 3.63074 19.0914C3.94721 19.4079 4.125 19.8371 4.125 20.2847Z" stroke="#51BCD6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				{% if titulo_normal %}
					{{ titulo_normal }}
				{% endif %}
				{% if titulo_color %}
					<span>
						{{ titulo_color }}
					</span>
				{% endif %}
			</h2>
			{% if descripcion %}
				<p class="du-media-block__description">{{ descripcion|nl2br }}</p>
			{% endif %}
		</div>
	</div>
</section>