<div id="modal-ok" class="du-modal  du-modal-small">
	<div class="du-modal__overlay"></div>
	<div class="du-modal__container">
		<button class="du-modal__close">&times;</button>

		<div class="du-modal__content">
			<main class="du-modal__main">
				<section class="du-modal__message">
					<svg class="du-modal__message-icon" width="45" height="43" viewbox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.00802 19.5287C0.982362 19.2308 1.01842 18.9307 1.1139 18.6476C1.20938 18.3644 1.36221 18.1044 1.56268 17.8839C1.76315 17.6635 2.00689 17.4874 2.27843 17.367C2.54998 17.2465 2.84339 17.1843 3.14006 17.1842H7.22754C7.79526 17.1842 8.33973 17.4115 8.74117 17.8162C9.14262 18.2209 9.36814 18.7698 9.36814 19.3421V39.8421C9.36814 40.4144 9.14262 40.9633 8.74117 41.3679C8.33973 41.7726 7.79526 42 7.22754 42H4.90927C4.37351 42.0001 3.85718 41.7977 3.46225 41.4328C3.06732 41.0678 2.8225 40.5668 2.77616 40.0287L1.00802 19.5287ZM15.7899 18.6677C15.7899 17.7657 16.3465 16.9587 17.1546 16.5746C18.9195 15.7352 21.926 14.0488 23.2821 11.769C25.0299 8.8299 25.3595 3.5204 25.413 2.30443C25.4205 2.13395 25.4162 1.96348 25.4387 1.79516C25.7288 -0.312021 29.7627 2.14906 31.3093 4.75148C32.1495 6.16274 32.2565 8.01745 32.1688 9.46648C32.0735 11.0158 31.6229 12.5123 31.1809 13.9991L30.239 17.168H41.8593C42.19 17.168 42.5162 17.2452 42.8124 17.3936C43.1085 17.5421 43.3665 17.7577 43.5661 18.0235C43.7658 18.2893 43.9016 18.5982 43.9629 18.9258C44.0242 19.2534 44.0094 19.5909 43.9196 19.9118L38.1721 40.429C38.0452 40.8815 37.7752 41.2799 37.4031 41.5635C37.031 41.847 36.5771 42.0003 36.1107 42H17.9305C17.3628 42 16.8184 41.7726 16.4169 41.3679C16.0155 40.9633 15.7899 40.4144 15.7899 39.8421V18.6677Z" stroke="#007BE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<h2 class="du-modal__message-title">Tu formulario se ha enviado con éxito.</h2>
					<p class="du-modal__message-description">Gracias por confiar en nosotros, uno de nuestros colaboradores se comunicará contigo para seguir con todo el proceso de inscripción.</p>
				</section>
			</main>
		</div>
	</div>
</div>
